<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nenusoftware.gardenprotector.mapper.article.ArticleMapper">

    <resultMap id="article" type="com.nenusoftware.gardenprotector.entity.article.Article">
        <id property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="author" column="author"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createtime" column="createtime"/>
        <result property="liked" column="liked"/>
        <result property="types" column="types"/>
    </resultMap>

    <insert id="addArticle">
        INSERT INTO `t_article`
        (user_id, author, title, content, createtime, liked, types)
        VALUES (#{article.user_id}, #{article.author}, #{article.title}, #{article.content}, #{article.createtime}, #{article.liked}, #{article.types})
    </insert>

    <select id="listAllArticle" resultMap="article">
          SELECT *
          FROM `t_article`
    </select>

    <update id="updateArticle">
        update t_article
        SET title = #{article.title}, content = #{article.content}, types=#{article.types}
        WHERE id = #{article.id}
    </update>

    <delete id="delArticle">
        DELETE FROM t_article
        WHERE id = #{id}
    </delete>

    <update id="giveLike">
        update t_article
        SET liked = #{liked} + 1
        WHERE id = #{id}
    </update>

    <select id="getArticle" resultMap="article">
        SELECT *
        FROM t_article
        WHERE id = #{id}
    </select>

    <select id="selectArticleByTypes" resultMap="article">
        SELECT *
        FROM t_article
        WHERE types = #{types}
    </select>

    <select id="selectArticle" resultMap="article">
        SELECT *
        FROM  t_article
        WHERE title LIKE #{keyword}
    </select>
</mapper>